<!DOCTYPE html>
<html>

    <head>
      <h1 class="title" id='title'>Guardian Firearms</h1>
        <link rel="stylesheet" href="home_styles.css">
    </head>

    <body>
      <div id="container">
          <div id="header"> 
            <ul>
              <div id="logo">
                  <%= image_tag("destiny_logo.jpeg", :alt => "logo") %> 
             </div>

             <div id="left-nav-buttons">      
                  <a class="nav-button" href="#" id='nav-button'>HOME</a>
                  <a class="nav-button" href="#" id='nav-button'>FIREARMS</a>
                  <a class="nav-button" href="#" id='nav-button'>NEWS</a>
                  <a class="nav-button" href="#" id='nav-button'>DEALERS</a>
                  <a class="nav-button" href="#" id='nav-button'>SUPPORT</a>
              </div>
          </ul>
      </div>
  </body> 

<div id="footer">
  <div>
    <a class="footer-link" href="#" id='footer-links'>Contact Us</a>
  </div>
</div>